<h1>Cadastrar Novo Usuário</h1>

<%= render 'form' %>

  <div class=  "action">
    <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Voltar</i>"), evaluation_periods_path , class:"btn btn-warning"%>
    <%= f.submit 'Definir período', class:"btn btn-success" %>
  </div>