
<!-- Navigation Bar -->
<nav class="navbar navbar-default" role="navigation">
	<div class="container">

		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<!-- Top menu bar -->
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">

				<!-- SGD Home -->
				<li>
					<a href="<%=root_path%>" class="colorwhite"><i class="fa fa-home "></i> SGD</a>
				</li>

				<!-- Not logged in Users -->
				<% if !user_signed_in?%>
					<li>
						
					</li>

				<!-- Logged in Users -->
				<% elsif current_user%>

					<!-- Admin Role -->
					<%if current_user.has_role? :admin %>
					<%= render 'shared/navbar_admin_role'%>

					<!-- Moderator Role -->
					<% elsif current_user.has_role? :moderator%>
					<%= render 'shared/navbar_moderator_role'%>

					<!-- Regular Role -->
					<% elsif user_signed_in?  %>
					<%= render 'shared/navbar_regular_role'%>

					<%end%>

				<%end%>

			</ul>

		</div>

	</div>
</nav>
