<%= simple_form_for(@auto_evaluation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :grade_evaluation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
