<div class="container">
    <div class="row">
    
      <div class="page-header">
      <h1>Autoavaliação</h1>        
      </div>
      <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#competences_auto_evaluation">
          Competências
        </a>
      </h3>
    </div>
    <div id="competences_auto_evaluation" class="" style="display:none">
      <div class="panel-body">
        <%= render 'competences_auto_evaluation'%>
      </div>
    </div>
  </div>
   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#working_conditions_auto_evaluation">
          Condições de Trabalho
        </a>
      </h4>
    </div>
    <div id="working_conditions_auto_evaluation" class="" style="display:none">
      <div class="panel-body">
        <%= render 'working_conditions_auto_evaluation'%>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#goals_auto_evaluation">
          Metas
        </a>
      </h4>
    </div>
    <div id="goals_auto_evaluation" class="" style="display:none">
      <div class="panel-body">
       <%= render 'goals_auto_evaluation'%>
      </div>
      </div>
    </div>
  </div>
        <button onclick="firstRender()">
        click
      </button>
      <button onclick="secondRender()">
        click
      </button>
      <button onclick="thirdRender()">
        click
      </button>
</div>