<p id="notice"><%= notice %></p>

<p>
  <strong>Grade evaluation:</strong>
  <%= @auto_evaluation.grade_evaluation %>
</p>

<%= link_to 'Edit', edit_auto_evaluation_path(@auto_evaluation) %> |
<%= link_to 'Back', auto_evaluations_path %>
