<p id="notice"><%= notice %></p>

<p>
  <strong > Nome da Meta: </strong >
  <%= @goal.name_goal %>
</p>

<p>
  <strong >Descrição da Meta:</strong >
  <%= @goal.description_goal %>
</p>

<p>
  <strong>Prazo:</strong>
  <%= @goal.deadline_goal %>
</p>
