/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 /*/

.btn-group{display: inline-block;}
.navbar .nav > li > a, .navbar .nav > li > a,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a {color:white;}
.navbar .nav > li > a:hover, .navbar .nav > li > a
.navbar .nav > li.current-menu-item > a,:hover
.navbar .nav > li.current-menu-ancestor > a:hover{
color:          white;
text-shadow:    black;
}
.margin-bottom-20 {margin-bottom: 20px;}
.margin-top-20 {margin-top: 20px;}
.margin-left-20 {margin-left: 20px;}
.margin-right-20 {margin-right: 20px;}
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center; }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center; }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center; }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center; }
.i{
    color:white;
}
.nolink{
    text-decoration: none;
}
.carousel{
    margin: 0 auto;

}
.carousel-inner{
    margin: 0 auto;

}
.slide{
    height: 600px;
    width: 1000px;
}
.item{
    width: 1000px;
    height: 600px;
}
#navbar-collapse{
    color: white;
}
.navbar-default{
    background-color: #003366;
}

.colorwhite{
    color: white;
}
.papel{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 100%;

}
.text-black{
    color: black;
    text-shadow: 2px 2px white;
}
.simple_form input[type='submit'] {
    width:250px ;
    height:35px;
    margin-right: 2px;
    margin-left: 2px;
}
.simple_form input{
    width:500px;
}
/****** Css login ******/
.login-card {
  padding: 40px;
  width: 400px;
  background-color: #F7F7F7;
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 30px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  border-radius: 3px;
/* -webkit-user-select: none;
  user-select: none; */
}
.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}