/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap-datepicker
 *= require_tree .
 *= require_self
 /*/

/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

/*---------->>> ALERTAS <<<-----------*/
/*---------->>> SOBRESCRITA SIMPLE-FORM <<<-----------*/
.simple_form input[type='submit'] {
    width:250px ;
    height:35px;
    margin-right: 2px;
    margin-left: 2px;
}
.simple_form input{
    width:500px;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center; }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center; }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center; }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: center; }

/*---------->>> SOBRESCRITA BOTÕES BOOTSTRAP <<<-----------*/
.btn-group{display: inline-block;}

/*---------->>> SOBRESCRITA CAROUSEL BOOTSTRAP <<<-----------*/
.carousel{
    margin: 0 auto;

}
.carousel-inner{
    margin: 0 auto;

}

/*---------->>> CLASSE <<<-----------*/
.colorwhite{
    color: white;
}

/*---------->>> CSS-LOGIN <<<-----------*/
<<<<<<< HEAD

=======
>>>>>>> 6328ae582f937ba63974f9621e17a510201e69c8
.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}
.login-card {
  padding: 40px;
  width: 400px;
  background-color: #F7F7F7;
  margin: 0 auto 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text],input[type=password]{
  height: 30px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=text]:hover,input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}


/*---------->>> ÍCONE <<<-----------*/
.i{
    color:white;
}

/*---------->>> CLASSE <<<-----------*/
.item{
    width: 1000px;
    height: 600px;
}

/*---------->>> SOBRESCRITA NAVBAR BOOTSTRAP <<<-----------*/
#navbar-collapse{
    color: white;
}
.navbar-default{
    background-color: #003366;
}
.navbar .nav > li > a, .navbar .nav > li > a,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a {color:white;}
.navbar .nav > li > a:hover, .navbar .nav > li > a
.navbar .nav > li.current-menu-item > a,:hover
.navbar .nav > li.current-menu-ancestor > a:hover{
color:          white;
text-shadow:    black;
}

/*---------->>> CLASSES DE MARGEM <<<-----------*/
.margin-bottom-20 {margin-bottom: 20px;}
.margin-top-20 {margin-top: 20px;}
.margin-left-20 {margin-left: 20px;}
.margin-right-20 {margin-right: 20px;}

/*---------->>> CLASSE <<<-----------*/
.nolink{
    text-decoration: none;
}

/*---------->>> CLASSE <<<-----------*/
.papel{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: 100%;

}

/*---------->>> CLASSE <<<-----------*/
.slide{
    height: 600px;
    width: 1000px;
}


/*---------->>> SOBRESCRITA NAVBAR BOOTSTRAP <<<-----------*/
.text-black{
    color: black;
    text-shadow: 2px 2px white;
}